:root {
  --item-size: 50px;
  --button-default-shift: calc(var(--item-size) + 5px);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
}

#container {
  margin: var(--item-size);
  padding: calc(var(--item-size) + 3px);
  position: absolute;
}

table {
  border: 1px solid rgb(98, 168, 227);
}

td, .button {
  width: var(--item-size);
  height: var(--item-size);
}

.button {
  position: inherit;
  cursor: pointer;
  border: 1px solid white;
  display: table;
  text-align: center;
  color: white;
  transition: background-color 1s;
}

.button>span {
  display: table-cell;
  vertical-align: middle;
  font-size: 14pt;
  font-weight: bolder;
}

.button:hover {
  transition: background-color 1s;
}

.button:focus {
  border: 5px solid rgb(98, 168, 227);
}

td {
  background-color: rgb(98, 168, 227);
}

.add-button {
  background-color: rgb(226, 170, 72);
}

.add-button:hover {
  background-color: rgb(237, 181, 83);
}

.remove-button {
  background-color: rgb(163, 33, 20);
  visibility: hidden;
}

.remove-button:hover {
  background-color: rgb(204, 45, 31);
}

#remove-column-button {
  left: var(--button-default-shift);
  top: 0;
  transition: left 0.5s;
}

#remove-row-button {
  left: 0;
  top: var(--button-default-shift);
  transition: top 0.5s;
}

#add-column-button {
  right: 0;
  top: var(--button-default-shift);
}

#add-row-button {
  left: var(--button-default-shift);
  bottom: 0;
}